{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}| create {% endblock %}

{% block body %}
    <h2>Edit a serie</h2>

    <div>
        {{ form_start(serieForm) }}
        {{ form_widget(serieForm) }}
        <button>Edit a serie</button>
        {{ form_end(serieForm) }}
    </div>
{% endblock %}